.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    border: 1px black;
  }
  .menu-item.active {
    border: 1px green solid;
  }
   
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
  #text {
  padding-left: 50px;
  font-family: "Motiva Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: normal;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: start;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
}